header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 100px;
    position: absolute;
    top: 0;
    left: 0;
}
.logo span {
    color: #7d2ae8;
}
.navi{
    margin-left: -300px;

}